<% var x = 0; %>
<%_ for (const store of stores) { -%>
  <%_ if (x === 0) { -%>
      <div class="row">
    <%_ } -%>
    <div class="card ml-3 mt-3 mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= store.id -%></h5>
        <p class="card-text"><%= store.building_number-%> <%= store.Street-%>,</p>
        <p class="card-text">  <%= store.City-%>, <%= store.State-%></p>
        <a href="#" class="card-link"><%= store.flavor -%></a>

        <%_ if (store.icecream.length > 0) { -%>
          <p>Flavors In Stock:</p>
          <ul>
          <%_ for (const flav of store.icecream) { -%>
            <li><a class="card-link" href="/icecreams/<%= flav -%>"><%= flav -%></a></li>
            <%_ } -%>
          </ul>
          <%_ } -%>
        <% x++; %>
</div>
</div>
<%_ if (x === 4) { -%>
    </div>
    <% var x = 0; %>
    <%_ } -%>
<%_ } -%>
