<%_ for (const store of stores) { -%>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= store.id -%></h5>
      <p class="card-text"><%= store.Building_Number-%> <%= store.Street-%>,</p>
      <p class="card-text">  <%= store.City-%>, <%= store.State-%></p>
      <a href="#" class="card-link"><%= store.flavor -%></a>
      <%_ if (store.icecream.length > 0) { -%>
      <p>Flavors In Stock:</p>
      <%_ for (const flav of store.icecream) { -%>
            <a class="card-link" href="/icecreams/<%= flav -%>"><%= flav -%></a>
      <%_ } -%>

      <%_ } -%>
    </div>
  </div>

<!--
<table class="table">
<thead>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  </thead>
  <tbody>
    <%_ for (const store of stores) { -%>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= store.id -%></h5>
          <p class="card-text"><%= store.Building_Number-%> <%= store.Street-%>,</p>
          <p class="card-text">  <%= store.City-%>, <%= store.State-%></p>
          <a href="#" class="card-link"><%= store.flavor -%></a>
          <%_ if (store.icecream.length > 0) { -%>
          <p>Flavors In Stock:</p>
          <%_ for (const flav of store.icecream) { -%>
                <a class="card-link" href="/icecreams/<%= flav -%>"><%= flav -%></a>
          <%_ } -%>

          <%_ } -%>
        </div>
      </div>

  </tbody>
</table
-->
