  <% var x = 0; %>
  <%_ for (const store of stores) { -%>
    <%_ if (x === 0) { -%>
        <div class="row">
      <%_ } -%>
      <form id="<%= store.id -%>" class="currstore">
      <div class="card ml-3 mt-3 mb-3" style="width: 18rem;">
        <div class="card-body">

          <h5 class="card-title">
            <input type="text" name="_id" placeholder="<%= store.id -%>" value="<%= store.id -%>">
          </h5>

          <p class="card-text">
            <input type="text" name="building_number" placeholder="<%= store.building_number-%>" value="<%= store.building_number-%>">
            <input type="text" name="Street" placeholder="<%= store.Street-%>" value="<%= store.Street-%>">,
          </p>
          <p class="card-text">
             <input type="text" name="city" placeholder=" <%= store.city-%>" value=" <%= store.city-%>">,
             <input type="text" name="state" placeholder="<%= store.state-%>" value="<%= store.state-%>">
          </p>

          <%_ if (store.icecream.length > 0) { -%>
            <p>Flavors In Stock:</p>
            <ul>
              <button  type="button" class="btn btn-primary mt-2 mb-2 add_flavor">Add Flavor</button>
              <%_ for (const flav of store.icecream) { -%>
                <div>
                  <li><input type="text" name="icecream" placeholder="<%=flav-%>" value="<%= flav -%>"></li>
                  <button class="bg-warning mb-3 delete_flav">Delete Flavor</button>
                </div>
              <%_ } -%>
            </ul>
          <%_ } -%>
          <% x++; %>


        </div>
          <button class="bg-warning mb-3 delete_store">Delete Store</button>
          <button type="sumbit" class="bg-primary mb-3">Update Store</button>
  </div>
  </form>
  <%_ if (x === 4) { -%>
      </div>
      <% var x = 0; %>
      <%_ } -%>
  <%_ } -%>

  <form class="new_store">
    <div class="card ml-3 mt-3 mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><input type="text" name="_id" placeholder="Store Name" value=""></h5>
        <p class="card-text">
          <input type="text" name="building_number" placeholder="Building #" value="">
          <input type="text" name="Street" placeholder="street" value="">,</p>
        <p class="card-text">
          <input type="text" name="city" placeholder="city" value="">,
          <input type="text" name="state" placeholder="state" value=""></p>
        <div>
          <ul>
            <button  type="button" class="btn btn-primary mt-2 mb-2 add_flavor">Add Flavor</button>
          </ul>
        </div>
      </div>
      <button  type="sumbit" class="btn btn-primary mt-2 mb-2">Add Store</button>
    </div>
</form>
