<div class="container-fluid">
  <div class="row">
      <%_ for (const store of stores) { -%>
          <form id="<%= store.id -%>" class="currstore">
          <div class="card m-1" style="width: 18rem;">
            <div class="card-body">

              <h5 class="card-title">
                <%= store.id -%>
              </h5>

              <p class="card-text">
                <input class="form-control" type="text" name="building_number" placeholder="<%= store.building_number-%>" value="<%= store.building_number-%>">
                <input class="form-control" type="text" name="street" placeholder="<%= store.street-%>" value="<%= store.street-%>">
              </p>
              <p class="card-text">
                 <input class="form-control" type="text" name="city" placeholder="<%= store.city-%>" value="<%= store.city-%>">
                 <input class="form-control" type="text" name="state" placeholder="<%= store.state-%>" value="<%= store.state-%>">
              </p>

                <%_ if (store.icecream.length > 0) { -%>
                    <p>Flavors In Stock:</p>
                    <ul>
                      <%_ for (const flav of store.icecream) { -%>
                        <div class="mb-2">
                          <li><input readonly class="form-control-plaintext" name="icecream" value="<%= flav -%>"></input> </li>
                          <button class="btn-warning btn-sm delete_flav">Delete Flavor</button>
                        </div>
                      <%_ } -%>
                    </ul>
                <%_ } -%>

              <div>
                <select>
                  <%_ for (const icecream of IceCreamNames) { -%>
                    <%_ const status = (icecream === store.icecream) ? 'selected' : 'unselected'; -%>
                    <option class="option"<%= status -%> value="<%= icecream -%>"><%= icecream -%></option>
                  <%_ } -%>
                </select>
                <button  type="button" class="btn-sm btn-primary mb-2 add_flavor center mt-1">Add Flavor</button>
              </div>
            </div>
            <button type="submit" class="btn-primary btn mb-3">Save</button>
            <button class="btn-danger btn mb-3 delete_store">Delete</button>
      </div>
      </form>
      <%_ } -%>

    <form class="new_store">
        <div class="card ml-3 mt-3 mb-3 float-left" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><input type="text" name="_id" placeholder="Store Name" value=""></h5>
            <p class="card-text">
              <input class="form-control" type="text" name="building_number" placeholder="Building ###" value="">
              <input class="form-control" type="text" name="street" placeholder="Street" value=""></p>
            <p class="card-text">
              <input class="form-control" type="text" name="city" placeholder="City" value="">
              <input class="form-control" type="text" name="state" placeholder="State" value=""></p>
            <div>
              <ul>
              </ul>
            </div>
          </div>
          <button  type="submit" class="btn btn-primary mt-2 mb-2">Add Store</button>
        </div>
    </form>
  </div>
</div>
