<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body style="background-color:#5DA1AF">
    <%- include('../navbar', {active: 'stores'}); -%>
    <!--<%- include('header'); -%>-->
    <div class="row container-fluid mb-5 ">
      <main class="col-md-4">
        <%_ for (const store of stores) { -%>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= store.id -%></h5>
        <p class="card-text"><%= store.Building_Number-%> <%= store.Street-%>,</p>
        <p class="card-text">  <%= store.City-%>, <%= store.State-%></p>
        <a href="#" class="card-link"><%= store.flavor -%></a>
        <%_ if (store.icecream.length > 0) { -%>
        <p>Flavors In Stock:</p>
        <%_ for (const flav of store.icecream) { -%>
              <a class="card-link" href="/icecreams/<%= flav -%>"><%= flav -%></a>
        <%_ } -%>
        <%_ } -%>
        <%_ } -%>
      </div>
    </div>


      </main>
    </div>

  </body>
</html>
