<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body style="background-color:#5DA1AF">
    <%- include('../navbar', {active: 'stores'}); -%>
    <%- include('header'); -%>
    <div class="row container-fluid mb-5 ">
      <main class="col-md-4">
          <%_ for (const store of stores) { -%>
            <h2><%= store._id -%></h2>
            <p ><%= store.Building_Number-%> <%= store.Street-%></p>
            <p ><%= store.City-%> <%= store.State-%></p>

            <%_ if (store.icecream.length > 0) { -%>
            <p>Flavors In Stock:</p>
            <%_ for (const flav of store.icecream) { -%>
                  <li><a href="/icecreams/<%= flav -%>"><%= flav -%></a></li>
            <%_ } -%>

      </main>
    </div>
  </body>
</html>
