<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'stores'}); -%>
    <div class="container-fluid">
      <div class="row">
          <main class="p-3">
              <%_ for (const st of store) { -%>
            <h2><%= st.id -%></h2>
            <p><%= st.Building_Number-%> <%= st.Street-%>,</p>
            <p><%= st.City-%> <%= st.State-%></p>

            <%_ if (st.icecream.length > 0) { -%>
              <p>Our Falvors In </p>
              <ul>
                <%_ for (const flav of st.icecream) { -%>
                  <li><a href="/stores/<%= flav -%>"><%= flav -%></a></li>
                <%_ } -%>
              </ul>
            <%_ } -%>
            <%_ } -%>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
