<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'stores'}); -%>
    <div class="row container-fluid mb-5 ">
        <div class="col-md-4">
        </div>

          <main class="col-md-4">
              <%_ for (const id of storeIDs) { -%>
                <h2><%= id -%></h2>
                <p class="ml-3"><%= Building_Number-%> <%= Street-%>,</p>
                <p class="ml-3"><%= City-%> <%= State-%></p>

                <%_ if (store.icecream.length > 0) { -%>
                  <p class="ml-3" >Flavors In Stock:</p>
                  <ul class="ml-3">
                    <%_ for (const flav of store.icecream) { -%>
                      <li><a href="/stores/<%= flav -%>"><%= flav -%></a></li>
                    <%_ } -%>
                  </ul>
            <%_ } -%>
            <%_ } -%>
          </main>
    </div>
  </body>
</html>
