<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body style="background-color:#5DA1AF">
    <%- include('../navbar', {active: 'stores'}); -%>

    <main class= ml-3>
      <%_ if (admin) { -%>
         <%- include('./edit', {stores: stores}); -%>
        <%_ } else { -%>
         <%- include('./browse', {stores: stores, order: order}); -%>
        <%_ } -%>
  </main>
    <%_ if (admin) { -%>
      <%- include('./scripts'); -%>
    <%_ } -%>
  </body>
</html>
