<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body style="background-color:#5DA1AF">
    <%- include('../navbar', {active: 'stores'}); -%>
    <!--<%- include('header'); -%>-->
    <div class="row container-fluid mb-5 ">
      <main class="col-md-4">
          <%_ if (admin) { -%>
            <%- include('./edit', {stores: stores}); -%>
          <%_ } else { -%>
            <%- include('./browse', {store: store, order: order}); -%>
          <%_ } -%>


      </main>
    </div>
    <%_ if (admin) { -%>
      <%- include('./scripts'); -%>
    <%_ } -%>
  </body>
</html>
