<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body style="background-color:#5DA1AF">
    <%- include('../navbar', {active: 'stores'}); -%>
    <main>
        <% var x = 0; %>
        <%_ for (const store of stores) { -%>
          <%_ if (x === 0) { -%>
              <div class="row">
            <%_ } -%>
            <div class="card ml-3 mt-3 mb-3" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><%= store.id -%></h5>
                <p class="card-text"><%= store.Building_Number-%> <%= store.Street-%>,</p>
                <p class="card-text">  <%= store.City-%>, <%= store.State-%></p>
                <a href="#" class="card-link"><%= store.flavor -%></a>

                <%_ if (store.icecream.length > 0) { -%>
                  <p>Flavors In Stock:</p>
                  <%_ for (const flav of store.icecream) { -%>
                    <a class="card-link" href="/icecreams/<%= flav -%>"><%= flav -%></a>
                    <%_ } -%>
                  <%_ } -%>
                <% x++; %>
      </div>
    </div>
    <%_ if (x === 3) { -%>
            </div>
            <% var x = 0; %>
            <%_ } -%>
    <%_ } -%>
    </div>
  </main>

  </body>
</html>
