
<h2><u><%= icecream._id -%></u></h2>
<p>Description: <%= icecream.description -%></p>
<p>Main flavor: <%= icecream.flavor -%></p>

<%_ if (icecream.fillings.length > 0) { -%>
  <p>Fillings:
  <%_ for (const fill of icecream.fillings) { -%>
        <a href="/icecreams/<%= fill -%>"><%= fill -%></a>
  <%_ } -%>
<%_ } -%></p>
