
<div class="row container-fluid mb-5 ">
  <main class="col-md-5 ml-1">
      <h2><%= icecream._id -%></h2>
      <p>Description: <%= icecream.description -%></p>

      <%_ if (icecream.flavors.length > 0) { -%>
        <p>Flavors:</p>
        <ul>
        <%_ for (const flav of icecream.flavors) { -%>
              <li><%= flav -%></li>
        <%_ } -%>
        </ul>
      <%_ } -%>

      <%_ if (icecream.fillings.length > 0) { -%>
        <p>Fillings:</p>
        <ul>
        <%_ for (const fill of icecream.fillings) { -%>
              <li><%= fill -%></li>
        <%_ } -%>
        </ul>
      <%_ } -%>
    </main>



  <main class="col-md-6 ml-1">
    <img src=<%=icecream.image-%> class="img-fluid rounded mx-auto d-block" alt="Responsive image"  width="500" height="250">
  </main>



</div>
