<form id="update" class="form">

  <h4>Description</h4>
    <textarea class="form-control mb-1" name="description" placeholder="Description" rows="3"><%= icecream.description -%></textarea>
  <h4>Image-Path</h4>
    <input class="form-control mb-1" type="text" name="image" placeholder="<%= icecream.image -%>" value="<%= icecream.image-%>">

  <h4>Flavors</h4>
    <button id="add_flavor" type="button" class="btn btn-primary mb-2">Add Flavor</button>
    <div id="Flavors">
      <%_ for (flavor of icecream.flavors) { -%>
          <div class="input-group mb-3">
            <input readonly class="form-control-plaintext mb-1" type="text" name="flavors" value="<%= flavor -%>">
            <span class="input-group-btn">
              <button class=" btn btn-warning ml-1">Delete Flavor</button>
            </span>
          </div>
      <%_ } -%>
    </div>


    <h4 class="mt-2 mb-2">Fillings</h4>
      <button id="add_filling" type="button" class="btn btn-primary mb-2">Add Filling</button>
      <div id="Fillings">
          <%_ for (filling of icecream.fillings) { -%>
                <div class="input-group mb-3">
                  <input readonly class="form-control-plaintext mb-1" type="text" name="fillings" value="<%= filling -%>">
                  <span class="input-group-btn">
                    <button class=" btn btn-warning ml-1">Delete Filling</button>
                  </span>
                </div>


          <%_ } -%>
     </div>

  <button type="submit" class="btn btn-primary ml-1">Save</button>
  <button id="delete" class="btn btn-primary">Delete</button>
</form>
