<form id="update" class="form">

  <h4>Description</h4>
    <textarea class="form-control mb-1" name="description" placeholder="Description" rows="3"><%= icecream.description -%></textarea>
  <h4>Image-Path</h4>
    <input class="form-control mb-1" type="text" name="image" placeholder="<%= icecream.image -%>" value="<%= icecream.image-%>">

  <h4>Flavors</h4>
    <button id="add_flavor" type="button" class="btn btn-primary mb-2">Add Flavor</button>
    <input id="new_flavor" class="form-control" type="text" name="" placeholder="Chocolate">
    <div id="Flavors">
      <%_ for (flavor of icecream.flavors) { -%>
          <div class="form-group mb-2">
            <input readonly class="form-control-plaintext" type="text" name="flavors" value="<%= flavor -%>">
            <button class="btn btn-sm btn-warning">Delete Flavor</button>
          </div>
      <%_ } -%>
    </div>


    <h4 class="mt-2 mb-2">Fillings</h4>
      <button id="add_filling" type="button" class="btn btn-primary mb-2">Add Filling</button>
      <input id="new_filling" class="form-control" type="text" name="" placeholder="Chocolate">
      <div id="Fillings">
          <%_ for (filling of icecream.fillings) { -%>
                <div class="form-group mb-2">
                  <input readonly class="form-control-plaintext" type="text" name="fillings" value="<%= filling -%>">
                  <button class="btn btn-sm btn-warning">Delete Filling</button>
                </div>


          <%_ } -%>
     </div>

  <button type="submit" class="btn btn-primary m-2">Save</button>
  <button id="delete" class="btn btn-primary m-2">Delete</button>
</form>
