<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'icecreams'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column">
            <%_ for (const name of icecreams) { -%>
              <%_ const status = (name === icecream.id) ? 'active bg-dark' : 'inactive'; -%>
              <a href="/icecream/<%= name -%>" class="nav-item nav-link <%= status -%>"><%= name -%></a>
            <%_ } -%>
          </nav>
        </div>
        <div class="col">
          <main class="p-3">
            <h2><%= icecream.name -%></h2>
            <p><%= icecream.description -%></p>
            <%_ } -%>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
