<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body style="background-color:#5DA1AF">
    <%- include('../navbar', {active: 'icecreams'}); -%>
    <!--<%- include('header'); -%>-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column" >
            <p class="font-weight-bold">Our Ice Cream</p>
            <%_ for (const id of IceCreamNames) { -%>
              <%_ const status = (id === icecream.id) ? 'active bg-light' : 'inactive'; -%>
              <a href="/icecreams/<%= id -%>" class="nav-item nav-link text-dark font-italic <%= status -%>"><%= id -%></a>
            <%_ } -%>
          </nav>
        </div>
        <div class="col text-center">
          <main class="p-3">

          </main>
        </div>
      </div>
    </div>
  </body>
</html>
