<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body style="background-color:#5DA1AF">
    <%- include('../navbar', {active: 'icecreams'}); -%>

    <div class="container-fluid">
      <div class="row">

        <%_}-%>
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column" >
            <p class="font-weight-bold">Our Ice Cream</p>
            <%_for (const id of IceCreamNames) {-%>
              <%_ const status = (id === icecream.id) ? 'active bg-light' : 'inactive'; -%>
              <a href="/icecreams/<%= id -%>" class="nav-item nav-link text-dark font-italic <%= status -%>"><%= id -%></a>
            <%_}-%>
          </nav>
          <%_if (admin) {-%>
            <form id="create" class="form my-1">
              <input type="text" name="_id" placeholder="Icecream" size="1" class="form-control">
            </form>
          <%_}-%>
        </div>
        <div class="col">
          <main class="p-3">
            <%_ if (admin) { -%>
              <%- include('./edit', {icecream: icecream, IceCreamNames: IceCreamNames}); -%>
            <%_}
             else { -%>
              <%- include('./browse', {icecream: icecream}); -%>
            <%_ } -%>
          </main>
        </div>
      </div>
    </div>
    <%_ if (admin) { -%>
      <%- include('./scripts', {icecream: icecream}); -%>
    <%_ } -%>
  </body>
</html>
