<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body style="background-color:#5DA1AF">
    <%- include('../navbar', {active: 'icecreams'}); -%>
    <%- include('header'); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column" >
            <p>Our Ice Cream</p>
            <%_ for (const id of IceCreamNames) { -%>
              <%_ const status = (id === icecream.id) ? 'active bg-dark' : 'inactive'; -%>
              <a href="/icecreams/<%= id -%>" class="nav-item nav-link <%= status -%>"><%= id -%></a>
            <%_ } -%>
          </nav>
        </div>
        <div class="col text-center">
          <main class="p-3">
            <h2><u><%= icecream._id -%></u></h2>
            <p><%= icecream.description -%></p>
            <p> Main flavor: <%= icecream.flavor -%></p>
            <p> Fillings: <%= icecream.fillings -%></p>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
