<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'icecreams'}); -%>
    <%- include('header'); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column">
            <%_ for (const id of IceCreamNames) { -%>
              <%_ const status = (id === icecream.id) ? 'active bg-dark' : 'inactive'; -%>
              <a href="/icecreams/<%= id -%>" class="nav-item nav-link <%= status -%>"><%= id -%></a>
            <%_ } -%>
          </nav>
        </div>
        <div class="col">
          <main class="p-3">
            <h2><%= icecream._id -%></h2>
            <p><%= icecream.description -%></p>
            <p><%= Main flavor: icecream.flavor -%></p>
            <p><%= Fillings: icecream.fillings -%></p>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
